In [1]:
# Import the necessary libraries
import pandas as pd

In [2]:
# Loading datasets
domain_properties_data = pd.read_csv("data/domain_properties.csv")
sydney_suburbs_data = pd.read_csv("data/syd_sub_rev.csv")

In [3]:
# Understanding basic structure
print("DOMAIN PROPERTIES")
print("shape: ", domain_properties_data.shape, "\n")
print("information: ", domain_properties_data.info(), "\n")
print("first 5 rows: ", domain_properties_data.head(), "\n")
print("column names: ", domain_properties_data.columns, "\n")

print("\n\n\n")

print("SYDNEY SUBURBS REVIEW")
print("shape: ", sydney_suburbs_data.shape, "\n")
print("information: ", sydney_suburbs_data.info(), "\n")
print("first 5 rows: ", sydney_suburbs_data.head(), "\n")
print("column names: ", sydney_suburbs_data.columns, "\n")

DOMAIN PROPERTIES
shape:  (11160, 17)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11160 entries, 0 to 11159
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   price                     11160 non-null  int64
 1   date_sold                 11160 non-null  object
 2   suburb                    11160 non-null  object
 3   num_bath                  11160 non-null  int64
 4   num_bed                   11160 non-null  int64
 5   num_parking               11160 non-null  int64
 6   property_size             11160 non-null  int64
 7   type                      11160 non-null  object
 8   suburb_population         11160 non-null  int64
 9   suburb_median_income      11160 non-null  int64
 10  suburb_sqkm               11160 non-null  float64
 11  suburb_lat                11160 non-null  float64
 12  suburb_lng                11160 non-null  float64
 13  suburb_elevation          11160 non-null  int64
 14  cash_rate                 11160 non-null  float64
 15  property_inflation_index  11160 non-null  float64
 16  km_from_cbd               11160 non-null  float64
dtypes: float64(6), int64(8), object(3)
memory usage: 1.4+ MB
information:  None

first 5 rows:      price date_sold         suburb  num_bath  num_bed  num_parking  \
0  530000   13/1/16      Kincumber         4        4            2
1  525000   13/1/16     Halekulani         2        4            2
2  480000   13/1/16  Chittaway Bay         2        4            2
3  452000   13/1/16        Leumeah         1        3            1
4  365500   13/1/16    North Avoca         0        0            0

   property_size         type  suburb_population  suburb_median_income  \
0           1351        House               7093                 29432
1            594        House               2538                 24752
2            468        House               2028                 31668
3            344        House               9835                 32292
4           1850  Vacant land               2200                 45084

   suburb_sqkm  suburb_lat  suburb_lng  suburb_elevation  cash_rate  \
0        9.914   -33.47252   151.40208                24        2.0
1        1.397   -33.21772   151.55237                23        2.0
2        1.116   -33.32678   151.44557                 3        2.0
3        4.055   -34.05375   150.83957                81        2.0
4        1.497   -33.45608   151.43598                18        2.0

   property_inflation_index  km_from_cbd
0                     150.9        47.05
1                     150.9        78.54
2                     150.9        63.59
3                     150.9        40.12
4                     150.9        49.98

column names:  Index(['price', 'date_sold', 'suburb', 'num_bath', 'num_bed', 'num_parking',
       'property_size', 'type', 'suburb_population', 'suburb_median_income',
       'suburb_sqkm', 'suburb_lat', 'suburb_lng', 'suburb_elevation',
       'cash_rate', 'property_inflation_index', 'km_from_cbd'],
      dtype='object')





SYDNEY SUBURBS REVIEW
shape:  (421, 30)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421 entries, 0 to 420
Data columns (total 30 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Name                                           421 non-null    object
 1   Region                                         421 non-null    object
 2   Population (rounded)*                          421 non-null    object
 3   Postcode                                       421 non-null    int64
 4   Ethnic Breakdown 2016                          421 non-null    object
 5   Median House Price (2020)                      420 non-null    object
 6   Median House Price (2021)                      409 non-null    object
 7   % Change                                       421 non-null    object
 8   Median House Rent (per week)                   402 non-null    object
 9   Median Apartment Price (2020)                  299 non-null    object
 10  Median Apartment Rent (per week)               350 non-null    object
 11  Public Housing %                               419 non-null    object
 12  Avg. Years Held                                370 non-null    float64
 13  Time to CBD (Public Transport) [Town Hall St]  417 non-null    object
 14  Time to CBD (Driving) [Town Hall St]           419 non-null    object
 15  Nearest Train Station                          347 non-null    object
 16  Highlights/Attractions                         114 non-null    object
 17  Ideal for                                      116 non-null    object
 18  Traffic                                        419 non-null    float64
 19  Public Transport                               420 non-null    float64
 20  Affordability (Rental)                         420 non-null    float64
 21  Affordability (Buying)                         420 non-null    float64
 22  Nature                                         420 non-null    float64
 23  Noise                                          420 non-null    float64
 24  Things to See/Do                               420 non-null    float64
 25  Family-Friendliness                            420 non-null    float64
 26  Pet Friendliness                               420 non-null    float64
 27  Safety                                         420 non-null    float64
 28  Overall Rating                                 420 non-null    float64
 29  Review Link                                    114 non-null    object
dtypes: float64(12), int64(1), object(17)
memory usage: 98.8+ KB
information:  None

first 5 rows:             Name             Region Population (rounded)*  Postcode  \
0       Hornsby  Upper North Shore                23,000      2077
1        Oatley   Southern Suburbs                10,500      2223
2  Dulwich Hill         Inner West                14,500      2203
3       Jannali   Sutherland Shire                 6,250      2226
4      Waverton  Lower North Shore                 3,250      2060

                               Ethnic Breakdown 2016  \
0  Chinese 17.1%, English 16.8%, Australian 14.0%...
1  English 23.0%, Australian 21.1%, Chinese 9.8%,...
2  English 19.4%, Australian 16.4%, Irish 9.5%, S...
3  English 28.2%, Australian 26.3%, Irish 9.8%, S...
4  English 24.9%, Australian 15.5%, Irish 11.0%, ...

  Median House Price (2020) Median House Price (2021) % Change  \
0             $1,150,000.00             $1,400,000.00   21.74%
1             $1,550,000.00             $1,800,000.00   16.13%
2             $1,500,000.00             $1,900,000.00   26.67%
3             $1,050,000.00             $1,300,000.00   23.81%
4             $2,650,000.00             $3,400,000.00   28.30%

  Median House Rent (per week) Median Apartment Price (2020)  ...  \
0                      $600.00                   $645,000.00  ...
1                      $670.00                   $780,000.00  ...
2                      $725.00                   $780,000.00  ...
3                      $610.00                   $620,000.00  ...
4                    $1,000.00                 $1,200,000.00  ...

  Affordability (Rental) Affordability (Buying)  Nature Noise  \
0                    7.0                    6.0     8.0   7.0
1                    6.0                    4.0     8.0   9.0
2                    6.0                    4.0     8.0   7.0
3                    7.0                    7.0     7.0   8.0
4                    5.0                    2.0     8.0   9.0

  Things to See/Do Family-Friendliness Pet Friendliness Safety  \
0              7.0                 9.0              8.0    9.0
1              5.0                 9.0              8.0    9.0
2              6.0                 8.0              9.0    8.0
3              2.0                 8.0              8.0    9.0
4              4.0                 9.0              8.0    9.0

   Overall Rating                                        Review Link
0             7.1            https://sydneysuburbreviews.com/hornsby
1             7.0  https://sydneysuburbreviews.com/oatley-suburb-...
2             6.9       https://sydneysuburbreviews.com/dulwich-hill
3             6.8            https://sydneysuburbreviews.com/jannali
4             6.8           https://sydneysuburbreviews.com/waverton

[5 rows x 30 columns]

column names:  Index(['Name', 'Region', 'Population (rounded)*', 'Postcode',
       'Ethnic Breakdown 2016', 'Median House Price (2020)',
       'Median House Price (2021)', '% Change', 'Median House Rent (per week)',
       'Median Apartment Price (2020)', 'Median Apartment Rent (per week)',
       'Public Housing %', 'Avg. Years Held',
       'Time to CBD (Public Transport) [Town Hall St]',
       'Time to CBD (Driving) [Town Hall St]', 'Nearest Train Station',
       'Highlights/Attractions', 'Ideal for', 'Traffic', 'Public Transport',
       'Affordability (Rental)', 'Affordability (Buying)', 'Nature', 'Noise',
       'Things to See/Do', 'Family-Friendliness', 'Pet Friendliness', 'Safety',
       'Overall Rating', 'Review Link'],
      dtype='object')

In [4]:
# Cleaning the datasets
domain_properties_data.columns = domain_properties_data.columns.str.strip().str.lower().str.replace(" ", "_") # fixing the feature names
sydney_suburbs_data.columns = sydney_suburbs_data.columns.str.strip().str.lower().str.replace(" ", "_") # fixing the feature names

sydney_suburbs_data.rename(columns={"name":"suburb"}, inplace=True)
# Merge the datasets
Sydney_merged = domain_properties_data.merge(sydney_suburbs_data, on="suburb", how="left")

print("Shape:", Sydney_merged.shape)
print("Nulls:\n", Sydney_merged.isnull().sum().sort_values(ascending=False).head(10))

Shape: (11160, 46)
Nulls:
 review_link                                      8656
highlights/attractions                           8641
ideal_for                                        8610
median_apartment_price_(2020)                    5361
nearest_train_station                            5105
median_apartment_rent_(per_week)                 4641
avg._years_held                                  4305
median_house_rent_(per_week)                     4178
median_house_price_(2021)                        4122
time_to_cbd_(public_transport)_[town_hall_st]    4098
dtype: int64

In [5]:
# Checking numeric correlation with target variable price
num_cols = Sydney_merged.select_dtypes(include=["float64", "int64"]).columns
corr = Sydney_merged[num_cols].corr()["price"].sort_values(ascending=False)
print(corr)

price                       1.000000
num_bath                    0.395310
suburb_median_income        0.365452
num_bed                     0.314329
property_inflation_index    0.229929
num_parking                 0.228236
suburb_lng                  0.177976
safety                      0.139487
nature                      0.136236
noise                       0.129818
family-friendliness         0.126623
pet_friendliness            0.126469
traffic                     0.113520
overall_rating              0.113188
things_to_see/do            0.109225
avg._years_held             0.105331
property_size               0.099212
public_transport            0.091391
affordability_(rental)      0.056713
affordability_(buying)      0.003874
suburb_elevation           -0.008412
suburb_population          -0.038954
suburb_lat                 -0.109136
suburb_sqkm                -0.153286
cash_rate                  -0.236636
postcode                   -0.339870
km_from_cbd                -0.358321
Name: price, dtype: float64

In [6]:
print(Sydney_merged["type"].value_counts())
print(Sydney_merged.groupby("type")["price"].median())

type
House                            9583
Apartment / Unit / Flat           688
Townhouse                         211
Semi-Detached                     170
Vacant land                       163
Villa                             114
Duplex                             67
Terrace                            63
Block of Units                     37
Acreage / Semi-Rural               21
New House & Land                   15
New Apartments / Off the Plan       9
Development Site                    7
Studio                              5
Rural                               4
New land                            3
Name: count, dtype: int64
type
Acreage / Semi-Rural             2050000.0
Apartment / Unit / Flat          1025000.0
Block of Units                   2900000.0
Development Site                 2000000.0
Duplex                           1240000.0
House                            1442000.0
New Apartments / Off the Plan    1400000.0
New House & Land                 1000000.0
New land                          790000.0
Rural                            2000000.0
Semi-Detached                    1536000.0
Studio                            555000.0
Terrace                          1890000.0
Townhouse                        1095000.0
Vacant land                       580000.0
Villa                             867500.0
Name: price, dtype: float64

In [7]:
Sydney_merged.shape

(11160, 46)

In [8]:
# Dropping the columns with corr less than 0.05
low_corr_cols = [col for col in corr.index if abs(corr[col]) < 0.05 and col != "price"]
Sydney_merged.drop(columns=low_corr_cols, inplace=True)

print("Dropped columns: ", low_corr_cols, "\n")
print("Shape after drop: ", Sydney_merged.shape, "\n")
print("Top nulls: \n", Sydney_merged.isnull().sum().sort_values(ascending=False).head(10))

Dropped columns:  ['affordability_(buying)', 'suburb_elevation', 'suburb_population']

Shape after drop:  (11160, 43)

Top nulls:
 review_link                                      8656
highlights/attractions                           8641
ideal_for                                        8610
median_apartment_price_(2020)                    5361
nearest_train_station                            5105
median_apartment_rent_(per_week)                 4641
avg._years_held                                  4305
median_house_rent_(per_week)                     4178
median_house_price_(2021)                        4122
time_to_cbd_(public_transport)_[town_hall_st]    4098
dtype: int64

In [9]:
# Adding manual dropping for some columns with even low corr
manual_drop = ["cash_rate", "postcode", "suburb_lat", "suburb_lng", "suburb_sqkm"]
Sydney_merged.drop(columns=manual_drop, inplace=True, errors='ignore')

In [10]:
# Handling missing values
missing = Sydney_merged.isnull().sum().sort_values(ascending=False)
print(missing.head(15))

review_link                                      8656
highlights/attractions                           8641
ideal_for                                        8610
median_apartment_price_(2020)                    5361
nearest_train_station                            5105
median_apartment_rent_(per_week)                 4641
avg._years_held                                  4305
median_house_rent_(per_week)                     4178
median_house_price_(2021)                        4122
time_to_cbd_(public_transport)_[town_hall_st]    4098
traffic                                          4081
public_housing_%                                 4070
safety                                           4059
overall_rating                                   4059
family-friendliness                              4059
dtype: int64

In [11]:
# Strip $ and , and convert to float
for col in median_cols:
    if col in Sydney_merged.columns:
        Sydney_merged[col] = (
            Sydney_merged[col]
            .astype(str)
            .str.replace("$", "", regex=False)
            .str.replace(",", "", regex=False)
        )
        Sydney_merged[col] = pd.to_numeric(Sydney_merged[col], errors="coerce")

NameError: name 'median_cols' is not defined

In [ ]:
Sydney_merged.drop(columns=[
    "review_link",
    "highlights/attractions",
    "ideal_for",
    "nearest_train_station",
    "things_to_see/do"  # if present
], inplace=True, errors="ignore")

Sydney_merged = Sydney_merged[Sydney_merged["price"].notnull() & (Sydney_merged["price"] > 0)]
Sydney_merged.dropna(subset=["num_bed", "num_bath", "num_parking", "type", "km_from_cbd"], inplace=True)

median_cols = [
    "property_size",
    "suburb_median_income",
    "avg._years_held",
    "median_house_price_(2021)",
    "median_house_rent_(per_week)",
    "median_apartment_price_(2020)",
    "median_apartment_rent_(per_week)"
]

for col in median_cols:
    if col in Sydney_merged.columns:
        Sydney_merged[col].fillna(Sydney_merged[col].median(), inplace=True)

mode_cols = [
    "traffic",
    "safety",
    "overall_rating",
    "family-friendliness",
    "public_housing_%"
]

for col in mode_cols:
    if col in Sydney_merged.columns:
        Sydney_merged[col].fillna(Sydney_merged[col].mode()[0], inplace=True)
        
print(Sydney_merged.shape)
print(Sydney_merged.isnull().sum().sort_values(ascending=False).head(10))

(11160, 33)
time_to_cbd_(public_transport)_[town_hall_st]    4098
time_to_cbd_(driving)_[town_hall_st]             4059
pet_friendliness                                 4059
nature                                           4059
public_transport                                 4059
noise                                            4059
affordability_(rental)                           4059
median_house_price_(2020)                        4056
%_change                                         4049
population_(rounded)*                            4049
dtype: int64

C:\Users\athar\AppData\Local\Temp\ipykernel_6888\1271215525.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Sydney_merged[col].fillna(Sydney_merged[col].median(), inplace=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_6888\1271215525.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Sydney_merged[col].fillna(Sydney_merged[col].median(), inplace=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_6888\1271215525.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Sydney_merged[col].fillna(Sydney_merged[col].median(), inplace=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_6888\1271215525.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Sydney_merged[col].fillna(Sydney_merged[col].median(), inplace=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_6888\1271215525.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Sydney_merged[col].fillna(Sydney_merged[col].median(), inplace=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_6888\1271215525.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Sydney_merged[col].fillna(Sydney_merged[col].median(), inplace=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_6888\1271215525.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Sydney_merged[col].fillna(Sydney_merged[col].median(), inplace=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_6888\1271215525.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Sydney_merged[col].fillna(Sydney_merged[col].mode()[0], inplace=True)