# (TITLE OF THE PROJECT)
#### AIM - 
###### (LINKS)

In [22]:
# Core libraries
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Date and time
from datetime import datetime

# Preprocessing and modeling
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Utilities
import warnings
warnings.filterwarnings("ignore")

In [23]:
# LOAD DATASETS
domain = pd.read_csv("data/domain_properties.csv")
suburb = pd.read_csv("data/syd_sub_rev.csv")

In [24]:
# CHECKING DATA
print("Domain Properties\n")
print(domain.info(), "\n\n", domain.head, "\n\n", domain.describe)
print("\n\nSydney Suburb Review\n")
print(suburb.info(), "\n\n", suburb.head, "\n\n", suburb.describe)

Domain Properties

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11160 entries, 0 to 11159
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   price                     11160 non-null  int64
 1   date_sold                 11160 non-null  object
 2   suburb                    11160 non-null  object
 3   num_bath                  11160 non-null  int64
 4   num_bed                   11160 non-null  int64
 5   num_parking               11160 non-null  int64
 6   property_size             11160 non-null  int64
 7   type                      11160 non-null  object
 8   suburb_population         11160 non-null  int64
 9   suburb_median_income      11160 non-null  int64
 10  suburb_sqkm               11160 non-null  float64
 11  suburb_lat                11160 non-null  float64
 12  suburb_lng                11160 non-null  float64
 13  suburb_elevation          11160 non-null  int64
 14  cash_rate                 11160 non-null  float64
 15  property_inflation_index  11160 non-null  float64
 16  km_from_cbd               11160 non-null  float64
dtypes: float64(6), int64(8), object(3)
memory usage: 1.4+ MB
None

 <bound method NDFrame.head of          price date_sold         suburb  num_bath  num_bed  num_parking  \
0       530000   13/1/16      Kincumber         4        4            2
1       525000   13/1/16     Halekulani         2        4            2
2       480000   13/1/16  Chittaway Bay         2        4            2
3       452000   13/1/16        Leumeah         1        3            1
4       365500   13/1/16    North Avoca         0        0            0
...        ...       ...            ...       ...      ...          ...
11155  1900000  31/12/21     Kellyville         3        4            2
11156  1300000  31/12/21    Seven Hills         3        7            2
11157  1025000  31/12/21         Sydney         2        2            1
11158  1087500    1/1/22       Prestons         2        4            2
11159  1000000    1/1/22       Ourimbah         2        3            2

       property_size                     type  suburb_population  \
0               1351                    House               7093
1                594                    House               2538
2                468                    House               2028
3                344                    House               9835
4               1850              Vacant land               2200
...              ...                      ...                ...
11155            540                    House              27971
11156           1208                    House              19326
11157            129  Apartment / Unit / Flat              17252
11158            384                    House              15313
11159            667                    House               3951

       suburb_median_income  suburb_sqkm  suburb_lat  suburb_lng  \
0                     29432        9.914   -33.47252   151.40208
1                     24752        1.397   -33.21772   151.55237
2                     31668        1.116   -33.32678   151.44557
3                     32292        4.055   -34.05375   150.83957
4                     45084        1.497   -33.45608   151.43598
...                     ...          ...         ...         ...
11155                 46228       18.645   -33.69583   150.95622
11156                 33540        9.629   -33.77743   150.94272
11157                 35412        2.940   -33.86794   151.20998
11158                 36244        9.215   -33.94155   150.87334
11159                 37180       87.154   -33.31517   151.32611

       suburb_elevation  cash_rate  property_inflation_index  km_from_cbd
0                    24        2.0                     150.9        47.05
1                    23        2.0                     150.9        78.54
2                     3        2.0                     150.9        63.59
3                    81        2.0                     150.9        40.12
4                    18        2.0                     150.9        49.98
...                 ...        ...                       ...          ...
11155                78        0.1                     220.1        30.08
11156                38        0.1                     220.1        26.58
11157                65        0.1                     220.1         0.31
11158                28        0.1                     220.1        32.26
11159               191        0.1                     220.1        61.95

[11160 rows x 17 columns]>

 <bound method NDFrame.describe of          price date_sold         suburb  num_bath  num_bed  num_parking  \
0       530000   13/1/16      Kincumber         4        4            2
1       525000   13/1/16     Halekulani         2        4            2
2       480000   13/1/16  Chittaway Bay         2        4            2
3       452000   13/1/16        Leumeah         1        3            1
4       365500   13/1/16    North Avoca         0        0            0
...        ...       ...            ...       ...      ...          ...
11155  1900000  31/12/21     Kellyville         3        4            2
11156  1300000  31/12/21    Seven Hills         3        7            2
11157  1025000  31/12/21         Sydney         2        2            1
11158  1087500    1/1/22       Prestons         2        4            2
11159  1000000    1/1/22       Ourimbah         2        3            2

       property_size                     type  suburb_population  \
0               1351                    House               7093
1                594                    House               2538
2                468                    House               2028
3                344                    House               9835
4               1850              Vacant land               2200
...              ...                      ...                ...
11155            540                    House              27971
11156           1208                    House              19326
11157            129  Apartment / Unit / Flat              17252
11158            384                    House              15313
11159            667                    House               3951

       suburb_median_income  suburb_sqkm  suburb_lat  suburb_lng  \
0                     29432        9.914   -33.47252   151.40208
1                     24752        1.397   -33.21772   151.55237
2                     31668        1.116   -33.32678   151.44557
3                     32292        4.055   -34.05375   150.83957
4                     45084        1.497   -33.45608   151.43598
...                     ...          ...         ...         ...
11155                 46228       18.645   -33.69583   150.95622
11156                 33540        9.629   -33.77743   150.94272
11157                 35412        2.940   -33.86794   151.20998
11158                 36244        9.215   -33.94155   150.87334
11159                 37180       87.154   -33.31517   151.32611

       suburb_elevation  cash_rate  property_inflation_index  km_from_cbd
0                    24        2.0                     150.9        47.05
1                    23        2.0                     150.9        78.54
2                     3        2.0                     150.9        63.59
3                    81        2.0                     150.9        40.12
4                    18        2.0                     150.9        49.98
...                 ...        ...                       ...          ...
11155                78        0.1                     220.1        30.08
11156                38        0.1                     220.1        26.58
11157                65        0.1                     220.1         0.31
11158                28        0.1                     220.1        32.26
11159               191        0.1                     220.1        61.95

[11160 rows x 17 columns]>


Sydney Suburb Review

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421 entries, 0 to 420
Data columns (total 30 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Name                                           421 non-null    object
 1   Region                                         421 non-null    object
 2   Population (rounded)*                          421 non-null    object
 3   Postcode                                       421 non-null    int64
 4   Ethnic Breakdown 2016                          421 non-null    object
 5   Median House Price (2020)                      420 non-null    object
 6   Median House Price (2021)                      409 non-null    object
 7   % Change                                       421 non-null    object
 8   Median House Rent (per week)                   402 non-null    object
 9   Median Apartment Price (2020)                  299 non-null    object
 10  Median Apartment Rent (per week)               350 non-null    object
 11  Public Housing %                               419 non-null    object
 12  Avg. Years Held                                370 non-null    float64
 13  Time to CBD (Public Transport) [Town Hall St]  417 non-null    object
 14  Time to CBD (Driving) [Town Hall St]           419 non-null    object
 15  Nearest Train Station                          347 non-null    object
 16  Highlights/Attractions                         114 non-null    object
 17  Ideal for                                      116 non-null    object
 18  Traffic                                        419 non-null    float64
 19  Public Transport                               420 non-null    float64
 20  Affordability (Rental)                         420 non-null    float64
 21  Affordability (Buying)                         420 non-null    float64
 22  Nature                                         420 non-null    float64
 23  Noise                                          420 non-null    float64
 24  Things to See/Do                               420 non-null    float64
 25  Family-Friendliness                            420 non-null    float64
 26  Pet Friendliness                               420 non-null    float64
 27  Safety                                         420 non-null    float64
 28  Overall Rating                                 420 non-null    float64
 29  Review Link                                    114 non-null    object
dtypes: float64(12), int64(1), object(17)
memory usage: 98.8+ KB
None

 <bound method NDFrame.head of              Name             Region Population (rounded)*  Postcode  \
0         Hornsby  Upper North Shore                23,000      2077
1          Oatley   Southern Suburbs                10,500      2223
2    Dulwich Hill         Inner West                14,500      2203
3         Jannali   Sutherland Shire                 6,250      2226
4        Waverton  Lower North Shore                 3,250      2060
..            ...                ...                   ...       ...
416      Kyeemagh   Southern Suburbs                 1,000      2216
417     Northwood  Lower North Shore                 1,000      2066
418   Watsons Bay    Eastern Suburbs                 1,000      2030
419  Lavender Bay  Lower North Shore                   950      2060
420  Bexley North   Southern Suburbs                 4,250      2207

                                 Ethnic Breakdown 2016  \
0    Chinese 17.1%, English 16.8%, Australian 14.0%...
1    English 23.0%, Australian 21.1%, Chinese 9.8%,...
2    English 19.4%, Australian 16.4%, Irish 9.5%, S...
3    English 28.2%, Australian 26.3%, Irish 9.8%, S...
4    English 24.9%, Australian 15.5%, Irish 11.0%, ...
..                                                 ...
416  Greek 19.7%, Australian 14.0%, English 10.0%, ...
417  English 26.4%, Australian 23.0%, Irish 12.3%, ...
418  English 26.0%, Australian 19.0%, Irish 11.2%, ...
419  English 25.8%, Australian 15.1%, Irish 13.7%, ...
420  Greek 17.5%, Chinese 13.3%, Australian 12.0%, ...

    Median House Price (2020) Median House Price (2021) % Change  \
0               $1,150,000.00             $1,400,000.00   21.74%
1               $1,550,000.00             $1,800,000.00   16.13%
2               $1,500,000.00             $1,900,000.00   26.67%
3               $1,050,000.00             $1,300,000.00   23.81%
4               $2,650,000.00             $3,400,000.00   28.30%
..                        ...                       ...      ...
416             $1,400,000.00             $1,650,000.00   17.86%
417             $3,400,000.00             $4,200,000.00   23.53%
418             $4,700,000.00             $5,500,000.00   17.02%
419             $3,400,000.00             $4,200,000.00   23.53%
420             $1,150,000.00             $1,400,000.00   21.74%

    Median House Rent (per week) Median Apartment Price (2020)  ...  \
0                        $600.00                   $645,000.00  ...
1                        $670.00                   $780,000.00  ...
2                        $725.00                   $780,000.00  ...
3                        $610.00                   $620,000.00  ...
4                      $1,000.00                 $1,200,000.00  ...
..                           ...                           ...  ...
416                          NaN                           NaN  ...
417                    $1,500.00                           NaN  ...
418                          NaN                 $1,300,000.00  ...
419                          NaN                   $950,000.00  ...
420                      $610.00                   $580,000.00  ...

    Affordability (Rental) Affordability (Buying)  Nature Noise  \
0                      7.0                    6.0     8.0   7.0
1                      6.0                    4.0     8.0   9.0
2                      6.0                    4.0     8.0   7.0
3                      7.0                    7.0     7.0   8.0
4                      5.0                    2.0     8.0   9.0
..                     ...                    ...     ...   ...
416                    0.0                    0.0     0.0   0.0
417                    0.0                    0.0     0.0   0.0
418                    0.0                    0.0     0.0   0.0
419                    0.0                    0.0     0.0   0.0
420                    NaN                    NaN     NaN   NaN

    Things to See/Do Family-Friendliness Pet Friendliness Safety  \
0                7.0                 9.0              8.0    9.0
1                5.0                 9.0              8.0    9.0
2                6.0                 8.0              9.0    8.0
3                2.0                 8.0              8.0    9.0
4                4.0                 9.0              8.0    9.0
..               ...                 ...              ...    ...
416              0.0                 0.0              0.0    0.0
417              0.0                 0.0              0.0    0.0
418              0.0                 0.0              0.0    0.0
419              0.0                 0.0              0.0    0.0
420              NaN                 NaN              NaN    NaN

     Overall Rating                                        Review Link
0               7.1            https://sydneysuburbreviews.com/hornsby
1               7.0  https://sydneysuburbreviews.com/oatley-suburb-...
2               6.9       https://sydneysuburbreviews.com/dulwich-hill
3               6.8            https://sydneysuburbreviews.com/jannali
4               6.8           https://sydneysuburbreviews.com/waverton
..              ...                                                ...
416             0.0                                                NaN
417             0.0                                                NaN
418             0.0                                                NaN
419             0.0                                                NaN
420             NaN                                                NaN

[421 rows x 30 columns]>

 <bound method NDFrame.describe of              Name             Region Population (rounded)*  Postcode  \
0         Hornsby  Upper North Shore                23,000      2077
1          Oatley   Southern Suburbs                10,500      2223
2    Dulwich Hill         Inner West                14,500      2203
3         Jannali   Sutherland Shire                 6,250      2226
4        Waverton  Lower North Shore                 3,250      2060
..            ...                ...                   ...       ...
416      Kyeemagh   Southern Suburbs                 1,000      2216
417     Northwood  Lower North Shore                 1,000      2066
418   Watsons Bay    Eastern Suburbs                 1,000      2030
419  Lavender Bay  Lower North Shore                   950      2060
420  Bexley North   Southern Suburbs                 4,250      2207

                                 Ethnic Breakdown 2016  \
0    Chinese 17.1%, English 16.8%, Australian 14.0%...
1    English 23.0%, Australian 21.1%, Chinese 9.8%,...
2    English 19.4%, Australian 16.4%, Irish 9.5%, S...
3    English 28.2%, Australian 26.3%, Irish 9.8%, S...
4    English 24.9%, Australian 15.5%, Irish 11.0%, ...
..                                                 ...
416  Greek 19.7%, Australian 14.0%, English 10.0%, ...
417  English 26.4%, Australian 23.0%, Irish 12.3%, ...
418  English 26.0%, Australian 19.0%, Irish 11.2%, ...
419  English 25.8%, Australian 15.1%, Irish 13.7%, ...
420  Greek 17.5%, Chinese 13.3%, Australian 12.0%, ...

    Median House Price (2020) Median House Price (2021) % Change  \
0               $1,150,000.00             $1,400,000.00   21.74%
1               $1,550,000.00             $1,800,000.00   16.13%
2               $1,500,000.00             $1,900,000.00   26.67%
3               $1,050,000.00             $1,300,000.00   23.81%
4               $2,650,000.00             $3,400,000.00   28.30%
..                        ...                       ...      ...
416             $1,400,000.00             $1,650,000.00   17.86%
417             $3,400,000.00             $4,200,000.00   23.53%
418             $4,700,000.00             $5,500,000.00   17.02%
419             $3,400,000.00             $4,200,000.00   23.53%
420             $1,150,000.00             $1,400,000.00   21.74%

    Median House Rent (per week) Median Apartment Price (2020)  ...  \
0                        $600.00                   $645,000.00  ...
1                        $670.00                   $780,000.00  ...
2                        $725.00                   $780,000.00  ...
3                        $610.00                   $620,000.00  ...
4                      $1,000.00                 $1,200,000.00  ...
..                           ...                           ...  ...
416                          NaN                           NaN  ...
417                    $1,500.00                           NaN  ...
418                          NaN                 $1,300,000.00  ...
419                          NaN                   $950,000.00  ...
420                      $610.00                   $580,000.00  ...

    Affordability (Rental) Affordability (Buying)  Nature Noise  \
0                      7.0                    6.0     8.0   7.0
1                      6.0                    4.0     8.0   9.0
2                      6.0                    4.0     8.0   7.0
3                      7.0                    7.0     7.0   8.0
4                      5.0                    2.0     8.0   9.0
..                     ...                    ...     ...   ...
416                    0.0                    0.0     0.0   0.0
417                    0.0                    0.0     0.0   0.0
418                    0.0                    0.0     0.0   0.0

In [25]:
# COLUMN STANDARDISATION
domain.columns = domain.columns.str.strip().str.lower().str.replace(" ", "_")
suburb.columns = suburb.columns.str.strip().str.lower().str.replace(" ", "_")

In [26]:
# CLEANING SUBURB FIRST
# RENAMING COLUMNS FOR LATER MERGING
suburb.rename(columns={"name" : "suburb"}, inplace=True)

# CHECK FOR DUPLICATE
print(suburb["suburb"].nunique(), "unique suburbs out of", suburb.shape[0], "rows")
print(suburb["suburb"].duplicated().sum(), "duplicate suburb entries")

421 unique suburbs out of 421 rows
0 duplicate suburb entries

In [27]:
# REMOVING SYMBOLS AND CONVERTING TYPES
def clean_currency(val):
    if isinstance(val, str):
        return pd.to_numeric(val.replace("$", "").replace(",", ""), errors="coerce")
    return val

def clean_percent(val):
    if isinstance(val, str):
        return pd.to_numeric(val.replace("%", ""), errors="coerce")
    return val

def clean_int(val):
    if isinstance(val, str):
        return pd.to_numeric(val.replace(",", ""), errors="coerce")
    return val

suburb["population_(rounded)*"] = suburb["population_(rounded)*"].apply(clean_int)
suburb["median_house_price_(2020)"] = suburb["median_house_price_(2020)"].apply(clean_currency)
suburb["median_house_price_(2021)"] = suburb["median_house_price_(2021)"].apply(clean_currency)
suburb["median_house_rent_(per_week)"] = suburb["median_house_rent_(per_week)"].apply(clean_currency)
suburb["median_apartment_price_(2020)"] = suburb["median_apartment_price_(2020)"].apply(clean_currency)
suburb["median_apartment_rent_(per_week)"] = suburb["median_apartment_rent_(per_week)"].apply(clean_currency)
suburb["%_change"] = suburb["%_change"].apply(clean_percent)
suburb["public_housing_%"] = suburb["public_housing_%"].apply(clean_percent)

In [28]:
currency_cols = [
    "median_house_price_(2020)", "median_house_price_(2021)",
    "median_apartment_price_(2020)", "median_house_rent_(per_week)",
    "median_apartment_rent_(per_week)"
]

percent_cols = ["%_change", "public_housing_%"]
int_cols = ["population_(rounded)*"]

for col in currency_cols:
    suburb[col] = suburb[col].apply(clean_currency)

for col in percent_cols:
    suburb[col] = suburb[col].apply(clean_percent)

for col in int_cols:
    suburb[col] = suburb[col].apply(clean_int)

suburb.dtypes

suburb                                            object
region                                            object
population_(rounded)*                              int64
postcode                                           int64
ethnic_breakdown_2016                             object
median_house_price_(2020)                        float64
median_house_price_(2021)                        float64
%_change                                         float64
median_house_rent_(per_week)                     float64
median_apartment_price_(2020)                    float64
median_apartment_rent_(per_week)                 float64
public_housing_%                                 float64
avg._years_held                                  float64
time_to_cbd_(public_transport)_[town_hall_st]     object
time_to_cbd_(driving)_[town_hall_st]              object
nearest_train_station                             object
highlights/attractions                            object
ideal_for                                         object
traffic                                          float64
public_transport                                 float64
affordability_(rental)                           float64
affordability_(buying)                           float64
nature                                           float64
noise                                            float64
things_to_see/do                                 float64
family-friendliness                              float64
pet_friendliness                                 float64
safety                                           float64
overall_rating                                   float64
review_link                                       object
dtype: object

In [29]:
# DROPPING COLUMNS
suburb.drop(columns=[
    "region",
    "ethnic_breakdown_2016",
    "nearest_train_station",
    "highlights/attractions",
    "ideal_for",
    "review_link"
], inplace=True, errors="ignore")

for col in ["time_to_cbd_(public_transport)_[town_hall_st]", "time_to_cbd_(driving)_[town_hall_st]"]:
    suburb[col] = suburb[col].str.extract(r"(\d+)").astype(float)

In [30]:
# CHECKING FOR NULLS IN SUBURB
suburb.isnull().sum().sort_values(ascending=False), suburb.dtypes

(median_apartment_price_(2020)                    122
 median_apartment_rent_(per_week)                  71
 avg._years_held                                   51
 median_house_rent_(per_week)                      19
 median_house_price_(2021)                         15
 time_to_cbd_(public_transport)_[town_hall_st]      4
 %_change                                           4
 median_house_price_(2020)                          3
 time_to_cbd_(driving)_[town_hall_st]               2
 traffic                                            2
 public_housing_%                                   2
 noise                                              1
 affordability_(buying)                             1
 nature                                             1
 public_transport                                   1
 affordability_(rental)                             1
 family-friendliness                                1
 pet_friendliness                                   1
 safety                                             1
 things_to_see/do                                   1
 overall_rating                                     1
 population_(rounded)*                              0
 postcode                                           0
 suburb                                             0
 dtype: int64,
 suburb                                            object
 population_(rounded)*                              int64
 postcode                                           int64
 median_house_price_(2020)                        float64
 median_house_price_(2021)                        float64
 %_change                                         float64
 median_house_rent_(per_week)                     float64
 median_apartment_price_(2020)                    float64
 median_apartment_rent_(per_week)                 float64
 public_housing_%                                 float64
 avg._years_held                                  float64
 time_to_cbd_(public_transport)_[town_hall_st]    float64
 time_to_cbd_(driving)_[town_hall_st]             float64
 traffic                                          float64
 public_transport                                 float64
 affordability_(rental)                           float64
 affordability_(buying)                           float64
 nature                                           float64
 noise                                            float64
 things_to_see/do                                 float64
 family-friendliness                              float64
 pet_friendliness                                 float64
 safety                                           float64
 overall_rating                                   float64
 dtype: object)

In [31]:
# MAKING NULL NUMERIC VALS TO MEDIAN
median_cols = [
    'median_apartment_price_(2020)',
    'median_apartment_rent_(per_week)',
    'avg._years_held',
    'median_house_rent_(per_week)',
    'median_house_price_(2021)',
    'median_house_price_(2020)',
    '%_change',
    'traffic',
    'public_housing_%',
    'time_to_cbd_(public_transport)_[town_hall_st]',
    'time_to_cbd_(driving)_[town_hall_st]'
]

suburb[median_cols] = suburb[median_cols].fillna(suburb[median_cols].median())
    
suburb.drop(columns=["things_to_see/do","postcode"], inplace=True, errors="ignore")
suburb.sample(20)

,suburb,population_(rounded)*,median_house_price_(2020),median_house_price_(2021),%_change,median_house_rent_(per_week),median_apartment_price_(2020),median_apartment_rent_(per_week),public_housing_%,avg._years_held,...,traffic,public_transport,affordability_(rental),affordability_(buying),nature,noise,family-friendliness,pet_friendliness,safety,overall_rating
12,Panania,12500,950000.0,1100000.0,15.79,630.0,750000.0,450.0,11.0,12.0,...,6.0,7.0,7.0,7.0,7.0,7.0,8.0,8.0,6.0,6.6
250,Harris Park,6000,1050000.0,1200000.0,14.29,500.0,470000.0,390.0,8.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
202,Wattle Grove,9000,800000.0,890000.0,11.25,525.0,725000.0,485.0,1.0,12.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,Belrose,9000,1550000.0,1800000.0,16.13,975.0,570000.0,470.0,0.0,14.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
370,Edmondson Park,2300,800000.0,900000.0,12.50,575.0,545000.0,390.0,3.0,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,Smithfield,12250,710000.0,840000.0,18.31,450.0,600000.0,380.0,9.0,15.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315,Leppington,3750,730000.0,850000.0,16.44,550.0,600000.0,500.0,1.0,7.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,Wollstonecraft,8750,2600000.0,2900000.0,11.54,1225.0,1050000.0,615.0,2.0,11.4,...,6.0,7.0,5.0,3.0,8.0,9.0,8.0,8.0,9.0,6.4
38,Double Bay,5000,3600000.0,4200000.0,16.67,1700.0,1300000.0,750.0,0.0,14.0,...,4.0,7.0,2.0,1.0,8.0,8.0,9.0,9.0,9.0,6.2
150,Rooty Hill,15000,660000.0,750000.0,13.64,430.0,570000.0,435.0,4.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
361,Bardwell Park,2500,1150000.0,1500000.0,30.43,700.0,590000.0,450.0,0.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
289,Hurlstone Park,4750,1450000.0,1800000.0,24.14,680.0,715000.0,480.0,2.0,22.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
401,Point Piper,1500,12000000.0,15000000.0,25.00,637.5,2400000.0,980.0,0.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190,Kings Langley,9500,940000.0,1150000.0,22.34,515.0,725000.0,455.0,0.0,15.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
132,Dee Why,22000,1900000.0,2500000.0,31.58,825.0,775000.0,560.0,2.0,15.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
385,Taren Point,1800,1400000.0,1800000.0,28.57,920.0,990000.0,500.0,0.0,22.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
304,Loftus,4250,990000.0,1300000.0,31.31,635.0,650000.0,500.0,1.0,15.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,Rosebery,10500,1650000.0,1850000.0,12.12,825.0,860000.0,665.0,3.0,14.1,...,3.0,5.0,4.0,3.0,6.0,5.0,8.0,8.0,7.0,5.7
156,Penrith,13500,630000.0,750000.0,19.05,410.0,450000.0,380.0,11.0,10.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,Marrickville,28000,1400000.0,1700000.0,21.43,750.0,740000.0,500.0,5.0,13.4,...,4.0,7.0,5.0,4.0,6.0,3.0,7.0,6.0,6.0,5.7

In [32]:
cols = [
    "traffic", "public_transport", "affordability_(rental)", "affordability_(buying)",
    "nature", "noise", "family-friendliness", "pet_friendliness",
    "safety", "overall_rating"
]
zero_counts = {col: (suburb[col] == 0).sum() for col in cols}
print(zero_counts)

{'traffic': np.int64(303), 'public_transport': np.int64(302), 'affordability_(rental)': np.int64(302), 'affordability_(buying)': np.int64(302), 'nature': np.int64(302), 'noise': np.int64(302), 'family-friendliness': np.int64(302), 'pet_friendliness': np.int64(302), 'safety': np.int64(302), 'overall_rating': np.int64(302)}

In [33]:
suburb.drop(columns=cols, inplace=True, errors="ignore")
suburb

,suburb,population_(rounded)*,median_house_price_(2020),median_house_price_(2021),%_change,median_house_rent_(per_week),median_apartment_price_(2020),median_apartment_rent_(per_week),public_housing_%,avg._years_held,time_to_cbd_(public_transport)_[town_hall_st],time_to_cbd_(driving)_[town_hall_st]
0,Hornsby,23000,1150000.0,1400000.0,21.74,600.0,645000.0,460.0,3.0,12.9,40.0,35.0
1,Oatley,10500,1550000.0,1800000.0,16.13,670.0,780000.0,470.0,0.0,13.7,30.0,30.0
2,Dulwich Hill,14500,1500000.0,1900000.0,26.67,725.0,780000.0,475.0,2.0,14.0,20.0,20.0
3,Jannali,6250,1050000.0,1300000.0,23.81,610.0,620000.0,465.0,8.0,13.7,35.0,45.0
4,Waverton,3250,2650000.0,3400000.0,28.30,1000.0,1200000.0,630.0,1.0,12.0,10.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...
416,Kyeemagh,1000,1400000.0,1650000.0,17.86,637.5,725000.0,410.0,1.0,16.6,45.0,25.0
417,Northwood,1000,3400000.0,4200000.0,23.53,1500.0,725000.0,500.0,0.0,13.0,45.0,20.0
418,Watsons Bay,1000,4700000.0,5500000.0,17.02,637.5,1300000.0,1400.0,1.0,12.3,35.0,25.0
419,Lavender Bay,950,3400000.0,4200000.0,23.53,637.5,950000.0,590.0,3.0,13.0,20.0,15.0
420,Bexley North,4250,1150000.0,1400000.0,21.74,610.0,580000.0,485.0,7.0,18.3,45.0,35.0

In [34]:
# Verify no missing values remain
print(suburb.isnull().sum())

suburb                                           0
population_(rounded)*                            0
median_house_price_(2020)                        0
median_house_price_(2021)                        0
%_change                                         0
median_house_rent_(per_week)                     0
median_apartment_price_(2020)                    0
median_apartment_rent_(per_week)                 0
public_housing_%                                 0
avg._years_held                                  0
time_to_cbd_(public_transport)_[town_hall_st]    0
time_to_cbd_(driving)_[town_hall_st]             0
dtype: int64

In [35]:
# CLEANING DOMAIN DATASET
print("Domain dataset info\n", domain.info())
print("\n\nDomain dataset describe\n", domain.describe(include='all'))
print("\n\nDomain dataset sample rows\n", domain.sample(20))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11160 entries, 0 to 11159
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   price                     11160 non-null  int64
 1   date_sold                 11160 non-null  object
 2   suburb                    11160 non-null  object
 3   num_bath                  11160 non-null  int64
 4   num_bed                   11160 non-null  int64
 5   num_parking               11160 non-null  int64
 6   property_size             11160 non-null  int64
 7   type                      11160 non-null  object
 8   suburb_population         11160 non-null  int64
 9   suburb_median_income      11160 non-null  int64
 10  suburb_sqkm               11160 non-null  float64
 11  suburb_lat                11160 non-null  float64
 12  suburb_lng                11160 non-null  float64
 13  suburb_elevation          11160 non-null  int64
 14  cash_rate                 11160 non-null  float64
 15  property_inflation_index  11160 non-null  float64
 16  km_from_cbd               11160 non-null  float64
dtypes: float64(6), int64(8), object(3)
memory usage: 1.4+ MB
Domain dataset info
 None


Domain dataset describe
                price date_sold      suburb      num_bath       num_bed  \
count   1.116000e+04     11160       11160  11160.000000  11160.000000
unique           NaN      1338         637           NaN           NaN
top              NaN  12/11/21  Bateau Bay           NaN           NaN
freq             NaN       121          68           NaN           NaN
mean    1.675395e+06       NaN         NaN      2.073566      3.758961
std     1.290371e+06       NaN         NaN      1.184881      1.559743
min     2.250000e+05       NaN         NaN      0.000000      0.000000
25%     1.002000e+06       NaN         NaN      1.000000      3.000000
50%     1.388000e+06       NaN         NaN      2.000000      4.000000
75%     2.020000e+06       NaN         NaN      3.000000      4.000000
max     6.000000e+07       NaN         NaN     46.000000     47.000000

         num_parking  property_size   type  suburb_population  \
count   11160.000000   11160.000000  11160       11160.000000
unique           NaN            NaN     16                NaN
top              NaN            NaN  House                NaN
freq             NaN            NaN   9583                NaN
mean        2.017473     723.012366    NaN        9311.560036
std         1.454560    1048.983662    NaN        7541.636246
min         0.000000       7.000000    NaN          22.000000
25%         1.000000     430.000000    NaN        3977.000000
50%         2.000000     600.000000    NaN        7457.000000
75%         2.000000     765.000000    NaN       12158.250000
max        50.000000   59100.000000    NaN       47176.000000

        suburb_median_income   suburb_sqkm    suburb_lat    suburb_lng  \
count           11160.000000  11160.000000  11160.000000  11160.000000
unique                   NaN           NaN           NaN           NaN
top                      NaN           NaN           NaN           NaN
freq                     NaN           NaN           NaN           NaN
mean            40168.243369      5.054877    -33.781413    151.096676
std             11089.955120      5.824663      0.202478      0.213456
min             14248.000000      0.089000    -34.106240    150.553840
25%             32448.000000      1.776000    -33.921480    150.951020
50%             39104.000000      3.566000    -33.809180    151.109470
75%             45552.000000      6.568000    -33.715510    151.227810
max             97500.000000     87.154000    -33.163760    151.573300

        suburb_elevation     cash_rate  property_inflation_index   km_from_cbd
count       11160.000000  11160.000000              11160.000000  11160.000000
unique               NaN           NaN                       NaN           NaN
top                  NaN           NaN                       NaN           NaN
freq                 NaN           NaN                       NaN           NaN
mean           55.606720      0.631361                188.489686     27.381826
std            52.802315      0.658624                 24.441552     18.470113
min             0.000000      0.100000                150.900000      0.310000
25%            21.000000      0.100000                167.600000     12.960000
50%            40.000000      0.110000                176.600000     22.310000
75%            75.000000      1.500000                220.100000     40.990000
max           405.000000      2.000000                220.100000     84.790000


Domain dataset sample rows
         price date_sold           suburb  num_bath  num_bed  num_parking  \
1367   905000   27/5/17          Panania         2        3            2
9373  2628000  12/11/21          Concord         1        4            2
9333  1500000  11/11/21       Long Jetty         1        4            1
1906  1012000  25/11/17        Punchbowl         2        4            4
8110  3250000   28/9/21          Bayview         3        4            4
3835   460000  28/10/19         San Remo         1        3            2
3295  1000000   22/5/19       Canterbury         1        3            1
7094  3000000   25/6/21     Erskineville         2        4            0
9445  1300000  12/11/21          Newtown         1        1            0
8871  1565000  25/10/21        Glenbrook         2        4            4
5062  1440000   26/9/20  Bilgola Plateau         2        5            0
3144   669000   15/3/19          Jannali         1        2            1
9824  1080000  19/11/21         Woodbine         3        5            4
5100  2700000   2/10/20        Lane Cove         1        3            2
9913  1022000  20/11/21       Smithfield         3        3            1
9038  1762000  29/10/21      Mount Colah         3        4            2
1413  1125000   17/6/17         Illawong         1        3            2
4170  1535000  19/12/19       Thornleigh         3        5            3
4024   970000  26/11/19         Blaxland         3        4            2
1355   790000   26/5/17         Cobbitty         2        4            2

      property_size              type  suburb_population  \
1367            423             House              12419
9373            430             House              14533
9333            696             House               6390
1906            594             House              20236
8110            695             House               3620
3835            557             House               4351
3295            687             House               7233
7094            158             House               8014
9445            168             House              15029
8871           1010             House               5051
5062            847             House               3518
3144            186         Townhouse               6184
9824            914             House               2741
5100            695             House              10817
9913            512             House              11972
9038            843             House               7095
1413            676             House               7271
4170           1106             House               8464
4024            887             House               7451
1355            375  New House & Land               2063

      suburb_median_income  suburb_sqkm  suburb_lat  suburb_lng  \
1367                 34216        4.751   -33.95493   150.99524
9373                 39052        5.058   -33.85608   151.10677
9333                 28288        2.539   -33.35917   151.48543
1906                 22048        4.323   -33.92907   151.05159
8110                 40300        3.740   -33.66062   151.28882
3835                 27248        2.282   -33.21474   151.52049
3295                 34632        1.964   -33.91300   151.11710
7094                 71812        0.808   -33.90226   151.18621
9445                 55484        1.578   -33.89994   151.18038
8871                 43992        6.995   -33.76592   150.62573
5062                 46956        1.392   -33.64514   151.31590
3144                 40560        2.496   -34.01586   151.06319
9824                 33228        1.195   -34.04484   150.82045
5100                 58084        2.580   -33.81806   151.16504
9913                 23764        8.915   -33.84836   150.93847
9038                 43056       11.062   -33.66638   151.12988
1413                 44096        4.760   -33.99893   151.04011
4170                 43160        3.870   -33.72225   151.08107
4024                 40716        9.715   -33.74507   150.61818
1355                 43576       52.164   -33.99798   150.67997

      suburb_elevation  cash_rate  property_inflation_index  km_from_cbd
1367                18       1.50                     176.6        22.21
9373                 6       0.10                     220.1         9.60
9333                10       0.10                     220.1        61.67
1906                22       1.50                     174.0        16.27
8110               113       0.10                     220.1        23.83
3835                12       0.76                     166.4        77.69
3295                 6       1.50                     153.5        10.09
7094                14       0.10                     210.1         4.66
9445                24       0.10                     220.1         4.73
8871               199       0.10                     220.1        55.19
5062               124       0.25                     172.6        26.30
3144                76       1.50                     153.5        21.53
9824                65       0.10                     220.1        41.15
5100                57       0.75                     169.6         6.67
9913                25       0.10                     220.1        25.19
9038               117       0.10                     220.1        23.26
1413                79       1.50                     174.2        21.60
4170               167       0.75                     169.6        19.84
4024               237       0.75                     166.4        56.39
1355                66       1.50                     176.6        51.16

In [36]:
# CONVERT DATE_SOLD TO PROPER FORMAT
domain["date_sold"] = pd.to_datetime(domain["date_sold"], format="%d/%m/%y", errors="coerce")

# CHECKING FOR ANY NULLS AFTER DATE CONVERSION
invalid_dates = domain[domain["date_sold"].isna()]
print(invalid_dates)

# CHECK FEATURES FOR OUTLIERS
domain[["num_bath", "num_bed", "num_parking", "property_size"]].describe()

Empty DataFrame
Columns: [price, date_sold, suburb, num_bath, num_bed, num_parking, property_size, type, suburb_population, suburb_median_income, suburb_sqkm, suburb_lat, suburb_lng, suburb_elevation, cash_rate, property_inflation_index, km_from_cbd]
Index: []

           num_bath       num_bed   num_parking  property_size
count  11160.000000  11160.000000  11160.000000   11160.000000
mean       2.073566      3.758961      2.017473     723.012366
std        1.184881      1.559743      1.454560    1048.983662
min        0.000000      0.000000      0.000000       7.000000
25%        1.000000      3.000000      1.000000     430.000000
50%        2.000000      4.000000      2.000000     600.000000
75%        3.000000      4.000000      2.000000     765.000000
max       46.000000     47.000000     50.000000   59100.000000

In [37]:
# CHECKING THE NUMBER OF OUTLIERS
print("Bath outliers:", domain[domain['num_bath'] > 10].shape[0])
print("Bed outliers:", domain[domain['num_bed'] > 10].shape[0])
print("Parking outliers:", domain[domain['num_parking'] > 10].shape[0])
print("Property size outliers:", domain[domain['property_size'] > 5000].shape[0])

Bath outliers: 10
Bed outliers: 51
Parking outliers: 16
Property size outliers: 85

In [38]:
# DROPPING THE OUTLIERS
domain = domain[
    (domain['num_bath'] <= 10) &
    (domain['num_bed'] <= 10) &
    (domain['num_parking'] <= 10) &
    (domain['property_size'] <= 5000)
]

domain

,price,date_sold,suburb,num_bath,num_bed,num_parking,property_size,type,suburb_population,suburb_median_income,suburb_sqkm,suburb_lat,suburb_lng,suburb_elevation,cash_rate,property_inflation_index,km_from_cbd
0,530000,2016-01-13,Kincumber,4,4,2,1351,House,7093,29432,9.914,-33.47252,151.40208,24,2.0,150.9,47.05
1,525000,2016-01-13,Halekulani,2,4,2,594,House,2538,24752,1.397,-33.21772,151.55237,23,2.0,150.9,78.54
2,480000,2016-01-13,Chittaway Bay,2,4,2,468,House,2028,31668,1.116,-33.32678,151.44557,3,2.0,150.9,63.59
3,452000,2016-01-13,Leumeah,1,3,1,344,House,9835,32292,4.055,-34.05375,150.83957,81,2.0,150.9,40.12
4,365500,2016-01-13,North Avoca,0,0,0,1850,Vacant land,2200,45084,1.497,-33.45608,151.43598,18,2.0,150.9,49.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11155,1900000,2021-12-31,Kellyville,3,4,2,540,House,27971,46228,18.645,-33.69583,150.95622,78,0.1,220.1,30.08
11156,1300000,2021-12-31,Seven Hills,3,7,2,1208,House,19326,33540,9.629,-33.77743,150.94272,38,0.1,220.1,26.58
11157,1025000,2021-12-31,Sydney,2,2,1,129,Apartment / Unit / Flat,17252,35412,2.940,-33.86794,151.20998,65,0.1,220.1,0.31
11158,1087500,2022-01-01,Prestons,2,4,2,384,House,15313,36244,9.215,-33.94155,150.87334,28,0.1,220.1,32.26
11159,1000000,2022-01-01,Ourimbah,2,3,2,667,House,3951,37180,87.154,-33.31517,151.32611,191,0.1,220.1,61.95

In [39]:
# CHECKING DOMAIN FOR ANY REMAINING STEPS
domain.dtypes

price                                int64
date_sold                   datetime64[ns]
suburb                              object
num_bath                             int64
num_bed                              int64
num_parking                          int64
property_size                        int64
type                                object
suburb_population                    int64
suburb_median_income                 int64
suburb_sqkm                        float64
suburb_lat                         float64
suburb_lng                         float64
suburb_elevation                     int64
cash_rate                          float64
property_inflation_index           float64
km_from_cbd                        float64
dtype: object

In [40]:
domain["type"].unique()

array(['House', 'Vacant land', 'Townhouse', 'Apartment / Unit / Flat',
       'Semi-Detached', 'New House & Land', 'Duplex', 'Villa', 'New land',
       'Terrace', 'Studio', 'Development Site', 'Block of Units',
       'New Apartments / Off the Plan', 'Acreage / Semi-Rural', 'Rural'],
      dtype=object)

In [41]:
# CHECKING OUTLYING VALUES IN COLUMN TYPE
valid_types = {'House', 'Land', 'Apartment', 'New Apartments / Off the Plan'}

for val in domain["type"].unique():
    if val not in valid_types:
        print(val)

Vacant land
Townhouse
Apartment / Unit / Flat
Semi-Detached
New House & Land
Duplex
Villa
New land
Terrace
Studio
Development Site
Block of Units
Acreage / Semi-Rural
Rural

In [44]:
# CONSOLIDATING TYPE COLUMN FROM DOMAIN
type_map = {
    'House': 'House',
    'Townhouse': 'House',
    'Semi-Detached': 'House',
    'Terrace': 'House',
    'Duplex': 'House',
    'Villa': 'House',
    'Apartment / Unit / Flat': 'Apartment',
    'Studio': 'Apartment',
    'New Apartments / Off the Plan': 'Off the Plan Apartments',
    'Vacant land': 'Land',
    'New land': 'Land',
    'New House & Land': 'Off the Plan Houses',
    'Development Site': 'Land',
    'Block of Units': 'Apartment',
    'Acreage / Semi-Rural': 'Other',
    'Rural': 'Other'
}

domain["type"] = domain["type"].map(type_map)
print(domain[domain["type"].isnull()]['type'].unique())

[nan]